# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Next dependencies
/client/node_modules
/client/.pnp
/client/.pnp.*
/client/.yarn/*
/client/!.yarn/patches
/client/!.yarn/plugins
/client/!.yarn/releases
/client/!.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/client/.env*

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts

# CRA Dependencies
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.env
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local
/server/.env
/server/middleware/database/dataStorage.db

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# entire project
.DS_STORE*
node_modules*