$color1: #2C3333;
$color2: #2E4F4F;
$color3: #CBE4DE;
$color4: #0E8388;
$color5: #fefefe;
$color6: #000000;

$website-background: $color1;
$header-footer-background: $color4;
$page-background: $color3;
$font-color: $color3;
$nav-font-color: $color3;
$navHover-font-color: $color5;
$button-font-color: $color3;
$buttonHover-font-color: $color5;