$color1: #1F3247;
$color2: #475464;
$color3: #F1FCFD;
$color4: #4BC0A4;
$color5: #41ABF9;
$color6: #fefefe;
$color7: #000000;

$website-background: $color1;
$header-footer-background: $color4;
$page-background: $color3;
$font-color: $color3;
$nav-font-color: $color3;
$navHover-font-color: $color5;
$button-font-color: $color3;
$buttonHover-font-color: $color5;