@import './colors.scss';

.headerBody {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 85%;
    height: auto;
    line-height: 1.875em;
    background-color: $header-footer-background;
    color: $nav-font-color;
    border: .012em solid $color5;
    position: sticky;
    top: 0;
    z-index: 1000; // Ensure the header is above other elements

    a > img {
        float: left;
        display: flex;
        height: 6em;
        margin: 0em -7em 0em 2em;
    }

    .companyName {
        display: inline-block;
        font-size: 2em;
        text-decoration: none;
        margin-bottom: 0.25em;

        .trade {
            position: relative;
            top: 0.29em;
            font-size: 0.50em;
        }
    }

    button {
        float: right;
        display: flex;
        text-decoration: none;
        background-color: $color6;
        color: $button-font-color;
        font-size: 1em;
        font-weight: bold;
        padding: 0.50em;
        margin: 2em 1.25em 0 -5em;
        border: 0.15em solid $color1;
    }

    button:hover {
        background-color: $color1;
        color: $buttonHover-font-color;
        border-color: $color5;
    }

    nav {
        margin-bottom: 0.50em;

        ul {
            display: block;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                height: 100%;
                font-size: 1.25em;
                font-weight: bold;
                text-align: center;
                margin-left: 0.25em;
                margin-right: 0.25em;

                a {
                    width: 100%;
                    height: 100%;
                    color: $nav-font-color;
                    text-decoration: none;
                    text-align: center;
                    padding: 0.50em;
                    margin-bottom: 1em;
                }

                a:hover {
                    color: $navHover-font-color;
                    background-color: $color1;
                }
            }
        }
    }

    .farBars,
    .mobileNav {
        display: none;
    }

    @media (max-width: 950px) {
        width: 100%;

        a > img {
            float: left;
            display: flex;
            height: 4em;
            margin: 1em -7em 0em 1em;
        }

        nav {
            display: none;
        }

        .companyName {
            margin: 1em auto;
        }

        .farBars {
            float: right;
            display: flex;
            height: 3em;
            margin: 1em 1em 0 -5em;
        }

        .mobileNav {
            margin-bottom: 0.50em;
            background-color: $header-footer-background;
            display: block;
            position: absolute;
            width: 100%;
            border: .012em solid $color5;

            ul {
                display: inline-block;
                margin: 1em;
                padding: 0;

                li {
                    display: block;
                    height: 100%;
                    font-size: 2em;
                    font-weight: bold;
                    color: $nav-font-color;
                    margin: 1em 0.25em 1.25em 0.25em;

                    a {
                        width: 100%;
                        height: 100%;
                        color: $nav-font-color;
                        text-decoration: none;
                        text-align: center;
                        padding: 0.50em;
                        margin-bottom: 1em;
                    }

                    a:hover {
                        color: $navHover-font-color;
                        background-color: $color1;
                    }
                }
            }
        }
    }
}

.footerBody {
    width: 85%;
    margin: 0 auto;
    background-color: $header-footer-background;
    color: $nav-font-color;
    border: .012em solid $color5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    position: relative; /* Allows absolutely positioned elements inside */

    .companyName {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .trade {
            position: relative;
            top: 0.29em;
            font-size: 0.50em;
        }
    }

    .copyRight {
        text-align: center;
        margin: 0 auto 2em;
        width: 50%;
        position: absolute;
        bottom: 0;
    }

    .rightSide {
        margin-left: auto;
        text-align: right;

        a {
            display: block;
            color: $nav-font-color;
            text-decoration: none;
            padding: 0.75em;
        }

        a:hover {
            color: $navHover-font-color;
            background-color: $color1;
        }
    }

    @media (max-width: 950px) {
        width: 100%;
        flex-direction: column;
        align-items: center;

        .rightSide {
            margin: 1em 0;
            text-align: center;
        }

        .companyName, .copyRight {
            position: static;
            transform: none;
            width: 100%;
        }
    }
}

.pageBody {
    display: block;
    background-color: $page-background;
    margin: 0 auto;
    width: 85%;
    height: auto;
    border: .012em solid $color5;

    h1 {
        font-size: 2.5em;
        color: $color2;
    }

    h2, h3 {
        margin-bottom: 0;
    }

    h2 {
        font-size: 1.75em;
        color: $font-color;
    }

    h3 {
        font-size: 1.5em;
        color: $color2;
    }

    p {
        margin: 1em auto;
    }

    input {
        margin: 0 auto 2em;
        height: 2em;
        display: block;
    }

    input::placeholder {
        text-align: center;
        color: $color4;
        font-weight: bold;
    }

    input:focus {
        outline: none;
        border: .25em solid $color2;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

    select {
        margin: 0 auto 2em;
        height: 2em;
        display: block;
    }

    select::placeholder {
        text-align: center;
        color: $color4;
        font-weight: bold;
    }

    select:focus {
        outline: none;
        border: .25em solid $color2;
    }

    button {
        display: block;
        margin: 0 auto 2em;
        background-color: $color6;
        color: $button-font-color;
        font-size: 1em;
        font-weight: bold;
        height: 2em;
        width: 9em;
        border: 0.15em solid $color1;
    }

    button:hover {
        background-color: $color1;
        color: $buttonHover-font-color;
        border-color: $color5;
    }

    a {
        display: block;
        margin: 2em auto;
        background-color: $color6;
        color: $nav-font-color;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        width: 9em;
        padding: 0.50em;
        border: 0.15em solid $color1;
    }

    a:hover {
        background-color: $color1;
        color: $navHover-font-color;
        border-color: $color5;
    }

    .statusMessage {
        color: $font-color;
        margin: 2em auto;
    }

    form {
        background-color: $color4;
        margin: 0 auto;
        width: 75%;
        border: .012em solid $color5;

        .pageHeader {
            font-size: 1.75em;
            text-align: left;
            margin: 1em 1.25em;
            color: $font-color;
        }

        h2 {
            color: $font-color;
            margin: 2em auto 1em;
        }
    }

    .bodyBlock {
        background-color: $color4;
        margin: 0 auto;
        width: 75%;
        border: .012em solid $color5;

        .pageHeader {
            font-size: 1.75em;
            text-align: left;
            margin: 1em 1.25em;
            color: $font-color;
        }

        h2 {
            color: $font-color;
            margin: 2em auto 1em;
        }
    }

    .innerForm {
        background-color: $color3;
        margin: 5% auto;
        width: 75%;
        border: .012em solid $color5;
    }

    .innerBlock {
        background-color: $color3;
        margin: 5% auto;
        width: 75%;
        border: .012em solid $color5;

        .innerTab {
            list-style: none;
            padding: 0;
            text-align: left;
            margin-left: 1em;

            li {
                display: inline;
                button {
                    background-color: transparent;
                    border: none;
                    display: inline;
                    padding: 0;
                    margin: 0 1em 0 0;
                    color: $color6;
                    font-size: 1em;
                    font-weight: bold;
                }
            
                button:hover {
                    color: $color4;
                }

                .activeTab {
                    font-weight: bold;
                    border-bottom: 2px solid $color6;
                }
            }
        }

        .statusMessage {
            color: $color1;
        }
    }
    
    .dataEntryContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 1em auto 2em;
    }

    .dataEntryInputAMT {
        display: flex;
        align-items: center;
        margin-left: 1em;

        input {
            width: 5em;
            margin: 0 auto 0 1em;
            height: 1.5em;
            text-align: center;
        }
        
        input::placeholder {
            text-align: center;
        }
    }

    .clientNameDropdown {
        display: flex;
        align-items: center;
        margin-right: 1em;

        select {
            margin: 0 auto 0 1em;
            height: 2em;
            min-width: 12em;
            max-width: 25%;
            width: 12em;
            text-align: center;
        }
    }

    .dataEntryTable {
        margin: auto;
        th {
            width: 25em;
            max-width: 25em;
        }
    }

    .loginForm {
        background-color: $color4;
        margin: 15% auto;
        width: 25%;
        border: .25em solid $color2;

        .statusMessage {
            margin: 1em auto 1em;
            color: $font-color;
        }
    }

    .logoutForm {
        background-color: $color4;
        margin: 15% auto;
        width: 25%;
        border: .25em solid $color2;

        p {
            margin: 1em auto 2em;
            color: $font-color;
        }
    }

    .loadingBody {
        .loadingBodyForm {
            .lgLogo {
                display: block;
                margin: 3em auto;
                background-repeat: no-repeat;
                background-size: cover;
                width: 15em;
                height: 15em;
            }

            h1 {
                margin: 0 auto 2em;
            }
        }
    }

    .pageNotFoundPageBody {
        img {
            height: 20em;
            width: 20em;
            margin: 2em auto 4em;
            padding: 0;
        }

        p {
            font-size: 1.50em;
            width: 75%;
            margin: 0 auto 2em auto;

            a {
                background-color: transparent;
                border: none;
                display: inline;
                padding: 0;
                margin: 0;
                text-decoration: none;
                color: $color2;
                font-weight: bold;
            }

            a:hover {
                color: $color4;
            }
        }
    }
}