$color1: #1F3247;
$color2: #475464;
$color3: #F1FCFD;
$color4: #4BC0A4;
$color5: #41ABF9;
$color6: #fefefe;
$color7: #000000;

$website-background: $color1;
$header-footer-background: $color1;
//Page & form
$page-background: $color3;
$form-background: $color6;
//Font
$font-color: $color7;
$font-color2: $color6;
$font-color-hover: $color7;
//Nav
$nav-background-color: $color1;
$nav-background-color-hover: $color1;
$nav-background-page-color: $color7;
$nav-background-page-color-hover: $color1;
$nav-font-color: $color3;
$navHover-font-color: $color4;
//Buttons
$button-background-color: $color7;
$button-background-color-hover: $color1;
$button-background-color-hover2: $color2;
$button-font-color: $color3;
$button-font-color2: $color7;
$buttonHover-font-color: $color4;